body {
    overflow: hidden;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #fdf6e3;
    color: #268bd2;
}

div {
    border-color: #839496;
    border-style: solid;
    border-width: 0;
}

h1 {
    letter-spacing: 12px;
    padding: 0;
    margin: 0;
}

h3 {
    letter-spacing: 6px;
    margin: 0;
}

a:link, a:visited {
    color: #2aa198;
}

a:hover {
    color: #b58900;
}

a:active {
    color: #dc322f;
}

#header, #footer, #controls, #main {
    position: absolute;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    border-bottom-width: 1px;
}

#controls {
    top: 73px;
    left: 0;
    bottom: 31px;
    width: 250px;
    font-size: 12px;
    border-right-width: 1px;
    background-color: #eee8d5;
    overflow: auto;
}

#header, #controls {
    padding: 12px;
}

#main {
    top: 73px;
    left: 275px;
    bottom: 31px;
    right: 0;
}

#footer {
    bottom: 0;
    height: 24px;
    left: 0;
    right: 0;
    padding: 3px 6px;
    text-align: right;
    border-top-width: 1px;
}

#dt, #grav, #npoints, #mass {
    width: 48px;
}

#start, #stop {
    width: 84px;
    height: 36px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}

#reset {
    width: 144px;
    height: 36px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}

#stop {
    display: none;
}

input, select {
    margin: 3px 0 6px 12px;
}

#mass {
    margin: 3px 0 0 12px;
}

#force {
    margin: 3px 0 0 6px;
}

